* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	width: 90%;
	background-color: #000000;
	display: flex;
	overflow: hidden;
}

#dark {
	position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0,0,0,1);
    z-index: 100;
}
#ALogo {
	position: absolute;
	right: 0px;
	animation: pulse 100ms linear infinite;
}
#Logo {
	position: absolute;
	width: 30%;
	right: 33%;
	animation: pulse 500ms infinite;
	overflow: hidden;
}

#GreenBirds {
	position: absolute;
	width: 30%;
	right: 35%;
	animation: pulse 500ms infinite;
	top: 40%;
}

#inf5 {
	display: inline-block;
	margin: 0;
	overflow: hidden;
	padding-left: 0%;
	letter-spacing: 0px;
	position: absolute;
	bottom: 1%;
	animation: move-rtl 3500ms linear infinite;
}
#inf5 img{
	width: 22%;
}
#infZ {
	display: inline-block;
	margin: 0;
	overflow: hidden;
	padding-top: 0%;
	letter-spacing: 0px;
	position: absolute;
	width: 12%;
	bottom: 0%;
	animation: move-rtl-Y 3500ms linear infinite;	
}
#plate1 {
	position: absolute;
	width: 7%;
	left: 32%;
	top: 51%;
}
#plate2 {
	position: absolute;
	width: 7%;
	left: 43%;
	top: 51%;
}
#plate3 {
	position: absolute;
	width: 7%;
	left: 54%;
	top: 51%;
}
#plate4 {
	position: absolute;
	width: 7%;
	left: 65%;
	top: 51%;
}
#JumpVideo1 {
	position: absolute;
	width: 30%;
	top: 10%;
	right: 33%;
	height: 35%;
}
#Heart1{
	position: absolute;
	width: 12%;
	left: 45%;
	top: 60%;
	transform: rotate(-40deg) scale(1);
	animation: heart-pulse 500ms linear infinite;
}
#DancingSkeleton {
	position: absolute;
	width: 20%;
	left: 40%;
}
#HAHAHA {
	position: absolute;
	left: 33%;
	width: 33%;
}
#EyeSkeleton {
	position: absolute;
	left: 750px;
	width: 20%;
	animation: pulse 200ms linear infinite;
}
#Yinyang {
	position: absolute;
	left: 40%;
	width: 25%;
	animation: rotating 2000ms linear infinite;
}
#FairyFlight {
	position: absolute;
	left: 30%;
	bottom: 40%;
	width: 12%;
}
#FairyDialog1 {
	position: absolute;
	width: 12%;
	left: 24%;
	bottom: 70%;
}
#TwoMasks {
	position: absolute;
	left: 43%;
	bottom: 10%;
	width: 17%;
}
#MaskGallery {
	animation: gallery 30s linear infinite;
	position: relative;
	left: 50%;
	top: 200px;
	width: 12%;
	height: 200px;
	transform-style: preserve-3d; 
}
#MaskGallery span{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-origin: center;
	transform-style: preserve-3d;
	transform: rotateY(calc(var(--i)*45deg)) translateZ(350px);
}
#MaskGallery span img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	transition: 1s;
	object-fit: cover;
}
#YinyangFace {
	position: absolute;
	width: 20%;
	left: 42%;
	bottom: 50%;
}
@keyframes pulse {
	0%{
		transform: scale(0.75);
	}
	50%{
		transform: scale(1);
	}
	100%{
		transform: scale(0.75);
	}
}

@keyframes heart-pulse {
	0%{
		transform: rotate(-45deg) scale(1.1);
	}
	50%{
		transform: rotate(-45deg) scale(1);
	}
	70%{
		transform: rotate(-45deg) scale(0.9);
	}
	80%{
		transform: rotate(-45deg) scale(1.2);
	}
	80%{
		transform: rotate(-45deg) scale(0.9);
	}
}

@keyframes move-rtl {
	0%{
		transform: translateX(200%);
	}
	100%{
		transform: translateX(-100%);
	}
}
@keyframes move-rtl-Y {
	0%{
		transform: translateY(100%);
	}
	100%{
		transform: translateY(-100%);
	}
}
@keyframes rotating {
	0%{
		transform: rotate(360deg);
	}
}
@keyframes gallery{
	0%{
		transform: perspective(1000px) rotateY(0deg);
	}
	
	100%{
		transform: perspective(1000px) rotateY(360deg);
	}
}
@media(max-width: 700px){ 
	#ALogo {
	visibility: hidden;
	}
	#inf5 {
	visibility: hidden;
	}
	#infZ img{
	visibility: hidden;
	}
	#DancingSkeleton {
	width: 0px;
	}
	#Logo {
	position: absolute;
	width: 70%;
	right: 15%;
	animation: pulse 500ms infinite;
	overflow: hidden;
	}
	#GreenBirds {
	position: absolute;
	width: 80%;
	right: 10%;
	animation: pulse 500ms infinite;
	top: 40%;
	}
	#JumpVideo1 {
	position: absolute;
	width: 60%;
	top: 10%;
	right: 20%;
	height: 25%;
	}
	#plate1 {
	position: absolute;
	width: 20%;
	left: 2%;
	top: 41%;
	}
	#plate2 {
	position: absolute;
	width: 20%;
	left: 27%;
	top: 41%;
	}
	#plate3 {
	position: absolute;
	width: 20%;
	left: 53%;
	top: 41%;
	}
	#plate4 {
	position: absolute;
	width: 20%;
	left: 78%;
	top: 41%;
	}
	#Heart1{
	position: absolute;
	width: 50%;
	left: 25%;
	top: 60%;
	transform: rotate(-40deg) scale(1);
	animation: heart-pulse 500ms linear infinite;
	}
	#HAHAHA {
	position: absolute;
	left: 15%;
	width: 70%;
	}
	#Yinyang {
	position: absolute;
	left: 20%;
	width: 60%;
	animation: rotating 2000ms linear infinite;
	}
	#FairyFlight {
	position: absolute;
	left: 30%;
	bottom: 40%;
	width: 40%;
	}
	#FairyDialog1 {
	position: absolute;
	width: 35%;
	left: 10%;
	bottom: 64%;
	}
	#TwoMasks {
	position: absolute;
	left: 20%;
	bottom: 10%;
	width: 60%;
	}
	#MaskGallery {
	animation: gallery 30s linear infinite;
	position: relative;
	left: 50%;
	top: 200px;
	width: 50%;
	height: 200px;
	transform-style: preserve-3d; 
	}
	#YinyangFace {
	position: absolute;
	width: 70%;
	left: 15%;
	bottom: 50%;
	}
}